@import "./Variables/variables.scss";

.movieCard{
  flex: 1;
  flex-basis: 15%;
  margin: 15px;
  height: 380px;
  max-width: 200px;
  border: ridge 2px;
  border-radius: 5px;
  border-color: $PersianIndigo transparentize($PersianIndigo, 0.2) transparentize($PersianIndigo, 0.8) transparentize($PersianIndigo, 0.2);
  transition: transform .2s;
  overflow: hidden;

  &:hover {
    transform: scale(1.15) translate(0px, 10px);;
    height: 450px;
  }

  .movieImg {
    height: 300;
    width: 200;
  }

  .movieMainDetails{

    p {
      text-align: center;
      font-family: $mainText;
      font-size: 14px;

      span {
        font-weight: bold;
      }
    }
  }
}