@import "./Variables/variables.scss";
@import "./Variables/mixins.scss";

.movieManipulate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .sorting {
    padding-left: 10px;
    button {
      @include buttonStyles($PersianIndigo, $Mantis, $mainText);
    }
  }

  .filtering {
    padding-right: 10px;
    button {
      @include buttonStyles($PersianIndigo, $Mantis, $mainText);
    }
  }

  p {
    font-family: $mainText;
  }

  input {
    padding: 10px 20px;
    border: solid 2px $PersianIndigo;
    border-radius: 5px;
    margin-right: 5px;
    outline: none;

    &:focus {
      transition: 0.5s;
    }
  }
}
