.movieManipulate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.movieManipulate .sorting {
  padding-left: 10px;
}

.movieManipulate .sorting button {
  padding: 10px 20px;
  margin: 0px 5px;
  border: solid 2px #29188b;
  border-radius: 5px;
  background-color: #29188b;
  color: #7cc856;
  outline: none;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.movieManipulate .filtering {
  padding-right: 10px;
}

.movieManipulate .filtering button {
  padding: 10px 20px;
  margin: 0px 5px;
  border: solid 2px #29188b;
  border-radius: 5px;
  background-color: #29188b;
  color: #7cc856;
  outline: none;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.movieManipulate p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.movieManipulate input {
  padding: 10px 20px;
  border: solid 2px #29188b;
  border-radius: 5px;
  margin-right: 5px;
  outline: none;
}

.movieManipulate input:focus {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
