.movieCard {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  margin: 15px;
  height: 380px;
  max-width: 200px;
  border: ridge 2px;
  border-radius: 5px;
  border-color: #29188b rgba(41, 24, 139, 0.8) rgba(41, 24, 139, 0.2) rgba(41, 24, 139, 0.8);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  overflow: hidden;
}

.movieCard:hover {
  -webkit-transform: scale(1.15) translate(0px, 10px);
          transform: scale(1.15) translate(0px, 10px);
  height: 450px;
}

.movieCard .movieImg {
  height: 300;
  width: 200;
}

.movieCard .movieMainDetails p {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.movieCard .movieMainDetails p span {
  font-weight: bold;
}
